@page "/admin/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.OrderPage

<PageTitle>eShopOnWeb Admin: Manage Orders</PageTitle>

<h1>Manage Orders</h1>

@if (orders == null)
{
    <Spinner></Spinner>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>OrderDate</th>
                <th>BuyerId</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in orders)
            {
                <tr>
                    <td>@item.OrderDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@item.BuyerId</td>
                    <td>@item.Total</td>
                    <td>@item.Status.Status</td>
                    <td>
                        <button @onclick="@(() => DetailsClick(item.Id))" @onclick:stopPropagation="true" class="btn btn-primary">
                            Details
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <OrderDetails @ref="DetailsComponent"></OrderDetails>
}