@page "/admin/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.OrderPage

<PageTitle>eShopOnWeb Admin: Manage Orders</PageTitle>

<h1>Manage Orders</h1>

@if (orders == null)
{
    <Spinner></Spinner>
    <p>YOK</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>BuyerId</th>
                <th>OrderDate</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in orders)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.BuyerId</td>
                    <td>@item.OrderDate</td>
                    <td>@item.Total</td>
                    <td>@item.Status</td>
                   @*  <td>
                        <button @onclick="@(() => EditClick(item.Id))" @onclick:stopPropagation="true" class="btn btn-primary">
                            Edit
                        </button>

                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}

@* @onclick="@(() => DetailsClick(item.Id))" *@